!!!
%html.no-js{:lang => "en"}
  / Brought to you by Team Josh, teamjosh.co
  %head
    %title Team Josh | Josh Beckman &amp; Josh Martin
    %meta{:content => "Joshua Beckman & Josh Martin: Daringly-dynamic developer & designer doing damn-delicious deeds daily. Chicago, Illinois", :name => "description"}
    %meta{:charset => "UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "css/styles.css", :media => "screen", :rel => "stylesheet"}
    %link{:rel => "shortcut icon", :href => "/img/favicon.ico"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:600,700", :rel => "stylesheet", :type => "text/css"}
  %body
    .message
      .message-content.text-center.wrapper.cf
        .message-intro.text-left.block
          %span.logo.block Team Josh
          %h1.message-title.block Daringly dynamic developer & designer doing damn-delicious deeds daily
          %p.message-copy.block Team Josh is a tandem-bicycle-riding supergroup slash design studio combining the talents of two people that love what they do way too much.
          .social-links
            %a.button.email-link.link{href: "mailto:team@teamjosh.com", target: "_blank"} Email The Team
            %a.button.email-link.link{href: "/weekly"} Weekly Plays Newsletter

    .projects
      .projects-content.wrapper.cf
        %p.projects-title Current Projects
        %p
        .project-links.inline-block
          %a.link.blue{href: "http://alleyooop.info", target: "_blank"} >> Alleyooop: Your Dribbble newsletter service
          %br/
          %a.link.pink{href: "http://www.bbbench.com", target: "_blank"} >> Bbbench: Artist bookmarking for Dribbble players
          %br/
          %a.link.brown{href: "http://www.samspacey.info", target: "_blank"} >> Sam Spacey: Professional Squarespace logo designer
          %br/
          // %a.link.red{href: "http://www.pngorjpeg.com", target: "_blank"} >> PNG or JPEG: A guide for dummies.
    .team
      .team-content.text-center.wrapper.cf
        .profile.float-left.inline-block
          .avatar-container
            %img.avatar.max-width{height: "200px", src: "/img/beckman.jpg", width: "200px"}/
          .profile-description
            %h2 Josh Beckman
            %span.role Developer/Doctor
            %p.profile-copy Josh Beckman is passionate about cereal and dancing when no one is watching. He enjoys his motorcycle, babysitting cats, and giving knowing looks to co-workers.
            .social-links
              %a.button.portfolio-link.link{href: "http://www.andjosh.com", target: "_blank"} Site
              %a.button.email-link.link{href: "mailto:email@andjosh.com", target: "_blank"} Email
              %a.twitter-link{href: "http://www.twitter.com/twandjosh", target: "_blank"}
                %img.twitter-icon{src: "/img/twitter.png", height: "16px", width: "20px"}
        .profile.inline-block.float-right
          .avatar-container
            %img.avatar.max-width{height: "200px", src: "/img/martin.jpg", width: "200px"}/
          .profile-description
            %h2 Josh Martin
            %span.role Designer/Shark
            %p.profile-copy Josh Martin quietly sits in the corners of offices drinking sugary drinks from a bottle like an adult baby. He once took his hat off and went unrecognized for two months.
            .social-links
              %a.button.portfolio-link.link{href: "http://www.jawsmartin.com", target: "_blank"} Site
              %a.button.email-link.link{href: "mailto:jawsmartin@gmail.com", target: "_blank"} Email
              %a.twitter-link{href: "http://www.twitter.com/jawsmartin", target: "_blank"}
                %img.twitter-icon{src: "/img/twitter.png", height: "16px  ", width: "20px"}
    %footer.footer
      .footer-content.text-center.wrapper.cf
        %span.copyright ©2015. Building in Chi-Town.
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37125372-4', 'teamjosh.co');
      ga('send', 'pageview');
