!!!
%html.no-js{:lang => "en"}
  / Brought to you by Team Josh, teamjosh.co
  %head
    %title Team Josh
    %meta{:content => "Joshua Beckman & Josh Martin", :name => "description"}
      %meta{:charset => "UTF-8"}
        / Google+ Author Link
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          / Stylesheet (Includes Reset, Clearfix, Animations, and Media Queries)
          %link{:href => "css/styles.css", :media => "screen", :rel => "stylesheet"}
            / Portfolio Filter (via www.mititup.io)
            %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
  %body
    /
      Spacey Header
      \////////////////////////////////////////////////////////////////
    .spacey-header
      .header-content.wrapper.cf.text-center
        %div
          %span.spacey-text
            %a.spacey-link{:href => "http://www.twitter.com/jbckmn", :target => "_blank", :title => "Joshua Beckman"} @jbckmn
            &&
            %a.spacey-link{:href => "http://www.twitter.com/jawsmartin", :target => "_blank", :title => "Josh Martin"} @jawsmartin
    /
      Footer
      \////////////////////////////////////////////////////////////////
    .spacey-footer
      .spacey-footer-content.wrapper.cf
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37125372-4', 'teamjosh.co');
      ga('send', 'pageview');