!!!
%html.no-js{:lang => "en"}
  / Brought to you by Team Josh, teamjosh.co
  %head
    %title Team Josh
    %meta{:content => "Joshua Beckman & Josh Martin", :name => "description"}
      %meta{:charset => "UTF-8"}
        / Google+ Author Link
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          / Stylesheet (Includes Reset, Clearfix, Animations, and Media Queries)
          %link{:href => "css/styles.css", :media => "screen", :rel => "stylesheet"}
            / Portfolio Filter (via www.mititup.io)
            %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
  %body
    /
      Spacey Header
      \////////////////////////////////////////////////////////////////
    .spacey-header
      .header-content.wrapper.cf.text-center
        %div
          %span.spacey-text
            %a.spacey-link{:href => "http://www.twitter.com/jbckmn", :target => "_blank", :title => "Joshua Beckman"} @jbckmn
            &&
            %a.spacey-link{:href => "http://www.twitter.com/jawsmartin", :target => "_blank", :title => "Josh Martin"} @jawsmartin
    /
      Footer
      \////////////////////////////////////////////////////////////////
    .spacey-footer
      .spacey-footer-content.wrapper.cf