/* Reset (reduce browser inconsistencies)
-----------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Clearfix (control floating elements)
-----------------------------------------------*/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Structure
-----------------------------------------------*/
.wrapper {
  width: 92%;
  max-width: 768px;
  margin: 0 auto;
}

body {
  background-color: white;
  color: #1a1a1a;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}

/* Universal 
-----------------------------------------------*/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.max-width {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.pink {
  color: #f464a6;
}

.red {
  color: #f76d6d;
}

.brown {
  color: #a0874e;
}

.white {
  color: white;
}
.blue {
    color: #2497EE;
}

/* Message
-----------------------------------------------*/
.logo {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 15px;
}

.message {
  margin-top: 9%;
}

.message-intro {
  margin-bottom: 50px;
}

.message-title {
  font-weight: 600;
  font-size: 32px;
  max-width: 600px;
  line-height: 40px;
  margin-bottom: 10px;
}

.message-copy {
  font-size: 15px;
  max-width: 600px;
  line-height: 21px;
}

/* Projects
-----------------------------------------------*/
.projects-content {
  padding-bottom: 50px;
  border-bottom: 1px dotted #ececec;
  margin-bottom: 40px;
}

.projects-title {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
}

/* Team
-----------------------------------------------*/
.profile {
  width: 47%;
  background-color: white;
}

.avatar-container {
  width: 18%;
  display: inline-block;
  float: left;
  margin-right: 5%;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 5px;
}

.role {
  opacity: .4;
  font-weight: 600;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.profile-copy {
  font-size: 15px;
  line-height: 20px;
}

.profile-description {
  text-align: left;
  float: left;
  display: inline-block;
  width: 75%;
}

.button {
  font-size: 13px;
  border: 1px solid #ececec;
  padding: 10px 25px 10px 25px;
  border-radius: 2px;
  margin-right: 5px;
  background-color: #fcfcfc;
}

.button:hover {
  background-color: white;
}

.twitter-link {
  border: 1px solid #ececec;
  padding: 8px 15px 10px 15px;
  border-radius: 2px;
  background-color: #fcfcfc;
}

.twitter-link:hover {
  background-color: white;
}

.twitter-icon {
  position: relative;
  top: 4px;
}

.social-links {
  margin-top: 25px;
}

.profile-container {
  width: 100%;
}

/* Footer
-----------------------------------------------*/

.footer {
  margin: 10% 0px 10% 0px;
}

.copyright {
  font-size: 11px;
  opacity: .7;
}

/* Media Queries
-----------------------------------------------*/
@media screen and (max-width: 760px) {
  .profile {
    width: 100%;
    margin-bottom: 60px;
  }
}


@media screen and (max-width: 400px) {
  .button {
    padding: 10px 15px 10px 15px;
  }
}
